/**
 * @desc Custom page styles
 * @changed 2024.10.06, 21:25
*/

:root {
  --uc-bottom-menu-plus-ul-li-offset: 8px;
  --uc-bottom-menu-secondary-menu-offset: 8px;
}

/** Header styles */
/* Stylize callback button */
.t-btn[href='#popup:obratnyi-zvonik'] {
  background: linear-gradient(225deg, #860010 0%, #ff9061 100%);
  padding: 0 20px;
  height: 50px;
}

/* Fix mobile layout */
.uc-top-menu .tmenu-mobile__container {
  padding: 14px 20px;
}

/* Right description is visible only on narrow screens. It's duplicates `.uc-top-menu-plus` content. */
.uc-top-menu [class*='right_descr'] {
  margin-bottom: 10px;
}
.uc-top-menu [class*='right_descr'] a {
  color: #911 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.uc-top-menu [class*='right_descr'] a .icon.fa {
  color: #aaa !important;
}
.uc-top-menu [class*='right_descr'] a:hover {
  color: #000 !important;
  /* text-decoration: underline !important; */
}

@media screen and (max-width: 960px) {
  .uc-top-menu [class*='rightcontainer'] {
    padding-top: 0;
  }
  .uc-top-menu [class*='right_descr'] div {
    text-align: center !important;
  }
}
@media screen and (min-width: 960px) {
  .uc-top-menu [class*='right_descr'] {
    display: none;
  }
  /* Header bar */
  .uc-top-menu {
    z-index: 100;
    position: fixed;
  }
  /* Align top menu */
  .uc-top-menu [class*='centercontainer'] {
    bottom: 12px;
    position: absolute;
  }

  /* Additional top menu */
  .uc-top-menu-plus {
    z-index: 110;
    position: fixed;
    pointer-events: none;
  }
  /* Additional menu items */
  .uc-top-menu-plus [class*='centercontainer'] .t-menu__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    /* Visual align relative to the 'main menu' */
    margin-top: 12px !important;
    margin-left: 236px !important;
  }
  .uc-top-menu-plus [class*='centercontainer'] li {
    pointer-events: all;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 !important;
    gap: 8px;
  }
}

/* Links... */
.uc-top-menu [class*='centercontainer'] a {
  font-weight: normal;
  transition: all 250ms;
}
.uc-top-menu [class*='centercontainer'] a:hover {
  color: #000 !important;
  text-decoration: underline !important;
}
/* Submenu openning arrow: add some space */
.uc-top-menu-plus [class*='centercontainer'] li a [class*='arrow'] {
  padding-right: 6px;
}
/* Additional menu icons */
.uc-top-menu-plus [class*='centercontainer'] li .icon.fa {
  opacity: 0.3;
}
/* phone: Phone link */
.uc-top-menu-plus [class*='centercontainer'] li:nth-child(1) a {
  text-decoration: underline !important;
}
/* mail: Mail link */
.uc-top-menu-plus [class*='centercontainer'] li:nth-child(2) a {
  text-decoration: underline !important;
}
/* lang: Language selector */
.uc-top-menu-plus [class*='centercontainer'] li:nth-child(3) a {
  color: #000 !important;
}
.uc-top-menu-plus [class*='centercontainer'] li:nth-child(3) a:hover {
  text-decoration: underline !important;
}
/* info: Info text (only for top version, hidden on small screens) */
.uc-top-menu-plus [class*='centercontainer'] li:nth-child(4) {
  display: none;
}
@media screen and (min-width: 1200px) {
  .uc-top-menu-plus [class*='centercontainer'] li:nth-child(4) {
    display: flex;
  }
}
.uc-top-menu-plus [class*='centercontainer'] li:nth-child(4) a {
  pointer-events: none;
  color: #888 !important;
  margin-left: 10px;
}

/** Footer */
#t-footer {
  position: relative;
  overflow: hidden;
}

/** Additional bottom menu */
/* Fix layout */
.uc-bottom-menu .t-container {
  padding-bottom: 25px; /* 50px */
}
.uc-bottom-menu-plus .t-container {
  padding-top: 25px;
}
@media screen and (max-width: 960px) {
  .uc-bottom-menu-plus .t-container {
    max-width: none;
  }
}
.uc-bottom-menu-plus .t-container .t-col {
  margin-left: 20px;
  padding: 0;
}
.uc-bottom-menu-plus .t-container .t-col > * {
  text-align: left;
  padding: 0 !important;
}
/* Adjust background */
.uc-bottom-menu-plus {
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
/* Menu items group */
.uc-bottom-menu-plus .t-container .t-col ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  row-gap: 4px;
  margin-left: calc(var(--uc-bottom-menu-plus-ul-li-offset) * -1);
}
.uc-bottom-menu-plus .t-container .t-col ul li {
  pointer-events: all;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0 !important;
  gap: 8px;
  margin: 0 var(--uc-bottom-menu-plus-ul-li-offset);
  /* font-size: 15px; */
}
.uc-bottom-menu-plus .t-container .t-col ul li.custom-icon + .custom-icon {
  margin-left: 0;
}
.uc-bottom-menu-plus .t-container .t-col ul li.custom-icon img {
  display: block;
  width: 20px;
  height: 20px;
}
/* Links */
.uc-bottom-menu-plus .t-container .t-col ul li a {
  font-weight: normal;
  transition: all 250ms;
}
.uc-bottom-menu-plus .t-container .t-col ul li a:hover {
  color: #000 !important;
  text-decoration: underline !important;
}
.uc-bottom-menu-plus .t-container .t-col ul li.custom-icon a:hover {
  opacity: 0.8;
}
/* Submenu openning arrow: add some space */
.uc-bottom-menu-plus .t-container .t-col ul li a [class*='arrow'] {
  padding-right: 6px;
}
/* Additional menu icons */
.uc-bottom-menu-plus .t-container .t-col ul li .icon.fa {
  opacity: 0.3;
}
/* phone: Phone link */
.uc-bottom-menu-plus .t-container .t-col ul li:nth-child(1) a {
  text-decoration: underline !important;
}
/* mail: Mail link */
.uc-bottom-menu-plus .t-container .t-col ul li:nth-child(2) a {
  text-decoration: underline !important;
}
/* whatsapp, telegram: ## 3, 4 -- social icons: should be replaced with icons */
/* lang: Language selector */
.uc-bottom-menu-plus .t-container .t-col ul li:nth-child(5) a {
  color: #000 !important;
}
.uc-bottom-menu-plus .t-container .t-col ul li:nth-child(5) a:hover {
  text-decoration: underline !important;
}
.uc-bottom-menu-plus .t-container .t-col [class*='copyright'] {
  margin-top: 8px;
}

/** Secondary menu */
.uc-bottom-menu [class*='secondary-menu'] {
  display: flex;
  max-width: 400px;
  gap: 8px 8px;
}
@media screen and (min-width: 960px) {
  .uc-bottom-menu [class*='secondary-menu'] {
    justify-content: flex-end !important;
    top: 96px;
    position: relative;
    z-index: 10;
  }
}
.uc-bottom-menu [class*='secondary-menu'] a {
  display: inline-block;
  transition: all 250ms;
  text-decoration: underline !important;
  margin: 0;
}
.uc-bottom-menu [class*='secondary-menu'] a:hover {
  color: #911 !important;
}

/** Language menu */
.uc-lang-menu li {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0 !important;
  gap: 8px;
}

/** Page elements... */

/* Common section icon */
.uc-section-icon [class*='imgwrapper'] {
  text-align: left;
}
.uc-section-icon .t-title {
  display: none;
}

/* Certificates list */
.uc-certs-list .t-section__container {
  /* Use title as spacer */
  height: 50px;
  overflow: hidden;
}
.uc-certs-list .t-col.t-list__item {
  margin-top: 20px !important;
}
.uc-certs-list .t-name {
  /* Hide name */
  display: none;
}
#allrecords /* Increase specifity */
.uc-certs-list .t-descr a,
.uc-certs-list .t-descr a {
  color: #000 !important;
  display: inline-block;
}
#allrecords /* Increase specifity */
.uc-certs-list .t-descr:hover a,
.uc-certs-list .t-descr:hover a {
  text-decoration: underline !important;
}
.uc-certs-list .t-descr a:first-child {
  /* Add visual space after first element ('title') */
  padding-bottom: 3px;
  font-weight: bold;
}

/* News */
.uc-main-news [field='btitle'] {
  text-align: left;
}
.uc-main-news .t-section__topwrapper {
  margin-bottom: 40px;
}
.uc-main-news .t-bgimg {
  border-radius: 10px !important;
}

/** Icons storage: Hide element: icons will be used for `.uc-bottom-menu-plus` menu */
.uc-icons-storage,
/** Bottom background: Hide element: the image source will be used `.uc-bottom-menu-plus` node (see method `initFooterBg`). */
.uc-bg-decor {
  position: fixed !important;
  top: -100px;
  left: -100px;
  width: 1px;
  height: 1px;
  display: none;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

/** Page styles */

/* Link text in a frame */
.uc-framed .t-text {
  padding: 10px 20px;
  border: 1px solid #911;
  border-radius: 10px;
}
.uc-framed .t-text a:hover {
  text-decoration: underline !important;
}

/* Numbered list */
.uc-numbered-list {
}
.uc-numbered-list .t-section__topwrapper {
  margin-bottom: 0;
}
.uc-numbered-list .t-section__descr {
  color: #911;
  font-weight: 500;
  margin-bottom: 10px;
}
@media screen and (min-width: 640px) {
  .uc-numbered-list ul.t-container {
    columns: 2;
    display: block;
  }
  .uc-numbered-list ul.t-container li.t-list__item {
    width: auto;
  }
}
.uc-numbered-list ul.t-container li:first-child,
.uc-numbered-list ul.t-container li {
  margin-top: 20px !important;
}
.uc-numbered-list ul.t-container .t-name {
  margin-bottom: 5px;
}
.uc-numbered-list ul.t-container .t-name,
.uc-numbered-list ul.t-container .t-descr {
  line-height: 1.3;
}

/* List with icons */
.uc-icons-list ul li.t-list__item {
  margin-top: 10px !important;
}
.uc-icons-list ul li.t-list__item [class*='textwrapper'] {
  padding-top: 5px;
}

/* Forms */
.uc-form {
}
.uc-form label {
  font-size: 16px;
}
.uc-form [class*='form-bottom-text'] {
  font-size: 14px;
  color: #888;
}
.uc-form [class*='form-bottom-text'] a {
  color: #911;
  text-decoration: underline;
}

/* Floating image at right */
@media screen and (min-width: 1200px) {
  /* Position image at right side. Don't forget, to make main content naroower (eg, 8 columns). */
  .uc-image-right {
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
  .uc-image-right [class*='imgwrapper'] {
    text-align: right;
  }
}

/* Content (list-base, eg, features list with icon */
.uc-gray-frame {
}
.uc-gray-frame li.t-list__item {
  background-color: #d9d9d9;
  padding: 15px 20px;
}
@media screen and (min-width: 640px) {
  .uc-gray-frame li.t-list__item {
    border-radius: 10px;
  }
}
