$themeRedColor: #d32;
$themeMoodColor: #234;

$navbarHeight: 120px;

$socialIconSize: 32px;

$transitionTimeMs: 250ms;
$animationTimeMs: 500ms;
$disappearTimeMs: 1000ms;

// Blocks
$blockTopMenu: '.t229';
$blockNavHeader: '.t821';
