.SocialIcons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.SocialIcon {
  display: inline-block;
  width: var(--socialIconSize);
  height: var(--socialIconSize);
  background-repeat: no-repeat;
  background-position: center;
  &#tg {
    background-image: url('../assets/social-icons/tg.svg');
  }
  &#whatsapp {
    background-image: url('../assets/social-icons/whatsapp.svg');
  }
  &#address {
    background-image: url('../assets/social-icons/address.svg');
  }
  &#mail {
    background-image: url('../assets/social-icons/mail.svg');
  }
  &#phone {
    background-image: url('../assets/social-icons/phone.svg');
  }
}
