@import '../variables';

.uc-TopMenu {
  $BLOCK: $blockTopMenu;
  $mobileTreshold: 980px;

  position: fixed;
  width: 100%;
  z-index: 995;
  > #{$BLOCK} {
    position: relative;
    border: 2px dashed red;
  }
  @media (width <= $mobileTreshold) {
    display: none;
  }
}
