@use '../variables' as *;

.uc-TopMenu {
  $BLOCK: $blockTopMenu;
  $mobileTreshold: 980px;

  // display: none;
  position: fixed;
  width: 100%;
  z-index: 995;
  > #{$BLOCK} {
    position: relative;
  }
  @include activeLink;

  // Hide for small screens: NavHeader SubMenu will be visible
  @media (width <= $mobileTreshold) {
    display: none;
  }
}
